body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.link-nav:hover,
.link-nav:focus,
.link-address:hover,
.link-address:focus {
    color: #404BBF;
}
.button{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background: #404BBF;
}